.main-person {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-person .person-item {
    width: 220px;
    margin: 10px 0 10px 0;
}

.main-person .person-item .preview {
    width: 100px;
    height: 100px;
}

.main-person .person-item .preview img {
    width: 100%;
}

.main-person .person-item a {
    text-decoration: none;
    color: #000000;
}

.details .details-item {
    display: flex;
}

.details .details-item .person-details {
    width: 300px;
    height: 300px;
}

.details .details-item .person-details img {
    width: 100%;
}

.details .details-item .person-details-info > div {
    display: flex;
    align-items: center;
}

.details .details-item .person-details-info span {
    color: #717171;
}

.details .details-item .person-details-info p {
    margin: 3px 0 3px 15px;
}

.details .details-item .person-details {
    margin: 0 30px 0 0;
}